
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font: 16px/1.5 serif;
}

body {
    font: inherit;
    line-height: 1.5;
 
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}


body {
    background: rgb(238, 238, 238);
    font: inherit;
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    padding: 2em;
    
}

.cards-layout, .card {
    display: flex;
    
}

.cards-layout {
    gap: 2em;
    flex-wrap: wrap;
    
}

.masonry, .card {
    flex-direction: column;
}


.card {
    width: 250px;
    background: white;
    border-radius: 0.3em;
    overflow: hidden;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0.4);
}

.flex .card {
    justify-content: flex-start;
    width: 30%;
}


.masonry {
    height: 1800px;
}

.card img {
    width: 100%;
    height: auto;
}

.flex .card footer {
    margin-top: auto;
    
}

.card footer p {
    padding: 1em;
    border-top: 1px solid black;
    
}

.card-section {
    padding: 1em;
}

h2 {
    margin-bottom: 1em;
}

h3 {
    font-weight: 400;
}