body{
    padding: 2em;
    background-color: #eee;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ui-fancy-quotes main,
.ui-fancy-quotes aside{
    display: flex;
    flex-direction: column;
}

.ui-fancy-quotes main{
    gap: 2em;
}

.ui-fancy-quotes main > .quote{
    flex: 1 0 auto;
    container: quote / inline-size;
}


.ui-fancy-quotes aside > .quote{
    flex: 1 0 auto;
}

.ui-fancy-quotes{
    border: 2px solid #000;
    display: flex;
    gap: 2em;
}
.ui-fancy-quotes .quote{
    display: flex;
    flex-direction: column;
}

.ui-fancy-quotes .quote .inner{
    flex-grow: 1;
    background-color: white;
    padding: 0.8em 1.2em;
    display: flex;
    gap: 2em;
}

.ui-fancy-quotes .quote blockquote::before{
    display: block;
    content: '\201C';
    font-size: 4em;
    line-height: 1;
}

.ui-fancy-quotes .quote .media{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ui-fancy-quotes .quote .avatar{
    width: 8em;
    display: block;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    background-color: #090;
}

@container quote (min-width: 400){
    
}