* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 1em;
    gap: 2em;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

body > * {
    background-color: skyblue;
    border-radius: 0.2em;
    padding: 1em;
}

header,
footer {
    flex: 1 1 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside{
    flex: 1 1 70%;
    list-style: inside;
}

aside ul{
    padding: 1em 0 0.5em 2em;
}
h1{
    font-size: 2em;
}
main {
    display: flex;
    flex-direction: column;
    padding: 1em 2em 2em 1em;
}
main a {
    text-decoration: none;
}

header  nav {
    flex: 1 0 0;
}

header nav ul{
    display: flex;  
    justify-content: space-evenly;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
}

@media (max-width: 500px){
    main {
        display: flex;
        flex-direction: column;
    }
    
    header {
        flex-direction: column;
        gap: 2em;
    }
    
    header nav ul {
        flex-direction: column;
        gap: 2em;
    }
}